<ion-view view-title="NASCAR News">
  <ion-content>
    <img src="img/nascar-illustrated-promo-image.jpg" class="full--width">

<ion-list>




<!--
      <ion-item>


        <label class=" hidden item item-input item-select">
            <div class="input-label">
              Sort by:
            </div>
            <select ng-model="orderProp">
              <option value="id" selected>Alphabetical</option>
              <option value="date">Date</option>
              <option value="price">Price</option>
            </select>
          </label>


      </ion-item> -->




<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="query">
  </label>
</div>

      <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" ng-repeat="news in allNews | filter:query | orderBy:orderProp"  type="item-text-wrap" href="#/tab/news/{{news.id}}">
        <img src="{{news.image}}" class="pull-right">
        <h1 class="ticket-type__title {{marketColor}}">{{news.title}}</h1>
        <p class="lead">{{news.lead}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(news)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>



  </ion-content>


</ion-view>
